@media (max-width: 880px) {
    .our-services {
        max-height: 180vh;
    }
}

.our-services {
    width: 100vw;
    height: 100vh;
    background-color: white;

}

@media (max-width: 1000px) {
    .additional-services {
      min-height: 210vh;
    }
  }
  p{
    font-size:large;
  }
/* p {
    line-height: 3em;
    font-size: clamp(20px, 4em, 25px);
} */
.blocktext-why-choose-us h1{
    line-height: 10%;
}
.container-additional-services img{
    height: 90%;
    width: 80%;
}
.container-additional-services{
    height: 100%;
}
.vehicle-rental{
    font-size:2vw;
}
