@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --clr-blue: #026dfe;
  --clr-gris: #3b3a3a;
  --clr-gris-fonce: #141414;
  --clr-black: #000;

  --ff-primary: "Poppins", sans-serif;

  --fs-300: 0.8125rem;
  /*13px*/
  --fs-400: 0.875rem;
  /*14px*/
  --fs-500: 0.9375rem;
  /*15px*/
  --fs-600: 1rem;
  /*16px*/
  --fs-700: 1.875rem;
  /*30px*/
  --fs-800: 2.5rem;
  /*40px*/
}

body {
  font-family: var(--ff-primary);
}

/* general styling */
.btn {
  font-weight: 500;
}

.btn:hover {
  background-color: #fff;
  color: var(--clr-blue);
  border: 0;
  box-shadow: 7px 8px 24px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 8px 24px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 24px -1px rgba(0, 0, 0, 0.75);
  font-weight: 600;
}

/* end general styling */

/* -------------------------------------------------------------------------------------------------------- */
/* nav bar */
.navbar-nav a {
  color: #fff;
}

.navbar-nav a:hover {
  color: var(--clr-blue);
}

.navbar-brand img {
  width: 80px;
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }

  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

/* -------------------------------------------------------------------------------------------------------- */
/* footer */
ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: var(--clr-black);
  position: relative;
}

.footer-logo {
  margin-bottom: 5px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 22px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--clr-blue);
}

.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: var(--clr-blue);
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--clr-blue);
  padding: 13px 20px;
  border: 1px solid var(--clr-blue);
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

/* -------------------------------------------------------------------------------------------------------- */
/* home page */

/* end home page */

/* -------------------------------------------------------------------------------------------------------- */
/* about page page */

body,
html {
  overflow-x: hidden;
}





.about-first-page {


  background-image: url(../images/aboutfirst-pic.jpg);
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-position: center;

  background-image: url(../images/aboutfirst-pic.jpg);

  background-size: cover;
  background-position: bottom;
}

.about-first-page h1 {

  display: inline;
}

.about-first-page h2 {
  font-size: 20vw;
  line-height: 30%;
}

.color-overlay-about {
  width: 100%;
  height: 100%;
  background-color: #00000095;
  color: white
}


.who-are-we {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/* .who-are-we img {
  float: right;

}

.who-are-we h1 {
  margin-top: 3%;
  height: 20%;
}

.who-are-we .textblock-what-about p {

  height: 80%;
  line-height: 3em;
}

.who-are-we .textblock-what-about h2 {
  height: 20%;

} */
.container-who-we-are {
  float: right;
}

.blocktext-about {
  line-height: 3em;


}

.how-we-work {
  width: 100vw;
  height: 100vh;
}

.how-we-work {
  background-image: url(../images/how-we-work.jpg);
  background-size: cover;
  background-position: center;
}

/* .textblock-what-about{
  width: 60%;
} */
.color-overlay-work {
  width: 100%;
  height: 100%;
  background-color: #00000095;
  color: white
}

.color-overlay-work p {
  line-height: 3em;
  padding-top: 2%;
  text-align: center;
  font-size: var(--fs-600);
}

.color-overlay-work h1 {
  padding-top: 5%;
}



.our-services {
  width: 100vw;
  height: 100vh;
  background-color: white;

}

.our-services p {
  height: 80%;
  line-height: 3em;
}

.our-services h1 {
  margin-top: 3%;
  height: 20%;
}

.container-icon-cars img {
  margin-top: 2%;
  width: 10%;
}

.why-choose-us {
  color: white;
  background-image: url(../images/auto-commercial\ .png);
  /* filter: drop-shadow(5px 10px 5px #222); */
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-why-choose-us {
  width: 100%;
  height: 100%;
  background-color: #000000d4;
}

.blocktext-why-choose-us p {
  line-height: 3em;
}

.additional-services {
  background-color: white;
  width: 100vw;
  height: 90vh;
}

.additional-services img {
  height: 60%;
  width: 30%;
}























/* end about page */

/* -------------------------------------------------------------------------------------------------------- */
/* contact us page page */

/* end contact us page */

/* -------------------------------------------------------------------------------------------------------- */

/* contact us page page */
.contact-header {
  height: auto;
  background-image: url(../images/contact-section-bg.jpg);
  background-size: cover;
  background-position: 3%;
}

.contact-title {
  color: white;
  font-weight: 500;
}

.hero-section {
  height: 85vh;
}

.main-contact-section {
  height: auto;
  background-color: var(--clr-gris);
  color: white;
}

.info-para {
  color: #808080;
  text-transform: capitalize;
}

.contact-info-icons {
  fill: var(--clr-blue);
}

.follow-icons {
  fill: white;
}

.form-container form input {
  background-color: transparent;
  border-radius: 0;
  color: white;
}

.form-container form input.message-input {
  height: 30vh;
}

@media screen and (max-width: 390px) {
  .hero-section {
    height: 45vh;
  }
}

/* reservation page page */
header.reservation-header {
  background-image: url("../images/reservation-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.reservation-header div.heading {
  color: #fff;
  font-size: var(--fs-200);
}

.reservation-header div.heading h1 {
  font-size: 10vw;
}

main .check-in h2.mb-5 {
  border-bottom: 6px solid var(--clr-blue);
  width: fit-content;
  margin-inline: auto;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  main .check-in h2 {
    font-size: var(--fs-100);
  }
}

.input-box {
  position: relative;
}

.input-box i.fa-search {
  position: absolute;
  right: 23px;
  top: 12px;
  color: #969191;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .container-btn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .container-btn .button {
    width: 40px !important;
  }
}

.container-btn button {
  padding-inline: 3rem;
}

.btn-group .button:hover {
  background-color: #888;
  color: white;
}

.btn-group .button:active,
.btn-group .button:focus {
  background-color: #888;
  color: white;
}

.filter-button {
  border: 1px solid var(--clr-blue);
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background-color: var(--clr-blue);
  margin-bottom: 30px;
  font-weight: 600;
  width: fit-content;
}

.filter-button:hover {
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  color: var(--clr-blue);
  background-color: #fff;
}

main.reservation .toggler {
  font-size: 30px;
}

main.reservation .card-text {
  font-size: 14px;
  font-weight: 500;
}

main.reservation .card-body span {
  font-size: 14px;
  font-weight: 300;
  color: #90a3bf;
}

main.reservation .card-body i {
  color: #90a3bf;
}

/* end reservation page */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000e3;
}

.modal-content {

  width: 50vw;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  color: #000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {

  cursor: pointer;
}

.modal-body {
  margin-top: 20px;
}

.modal-footer {
  margin-top: 20px;
}

#popupImage {
  max-width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  margin: 0;
}

.pagination li a{
  cursor: pointer;
}
